body{
    background-color:#fafafa;
    margin: 0%;
    padding: 0%;
}
.navbar{
    position: fixed;
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    /* position: fixed; */
}
.brand{
    text-decoration: none;
    padding: 1rem;
    font-size: xx-large;
}
/* .navbarlinksitems a{
    display:flex;
    /* padding:10px; 
    text-decoration: none;
} */
.navbarlinksitems{
    padding:1rem;
    text-decoration: none;
    /* border: 2px black solid; */
    transition: .5s;
}
.navbarlinksitems:hover{
    border-bottom:black solid;
}
.toggle-button{
    position: absolute;
    top:0.75rem;
    right:1rem;
    padding:1rem;
    display:none;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
}
.bar{
    width:100%;
    height:3px;
    background-color: black;
    display: none;
}
.navlinks {
    display: flex;
    text-decoration: none;
    padding: 1rem;
    font-size: larger;
}

@media (max-width:690px) {
    .navlinks{
        display:none;
    }
    .toggle-button{
        display:flex;
    }
    .bar{
        display: flex;
    }
    .toggle-button:hover{
        background-color: white;
        border-radius: 5px;
    }
    /* .flex_item_1_location{
        font-size:3px;
    } */
}

.help_centre{
    position: fixed;
    bottom:0.75rem;
    right: 1rem;
    font-size: xx-large;
    text-decoration: none;
    border: 4px black solid;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 4px;
    transition-duration: .3s;
}
.help_centre:hover{
    background-color: gainsboro;
    border-radius: 30px;
    color: black;
}
.flex_container_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    transition:.5s;
}
.image1{
    border-radius: 5px;
    border-top-left-radius:30px ;
    border-bottom-left-radius: 30px;
}
.image1:hover{
    box-shadow: 3px 3px 3px 3px black;
}
@media (max-width:1380px){
    .flex_container_1{
        justify-content: center;
    }
    .image1{
        width:100%;
        height:100%;
        border-radius: 30px;   
    }
    .image2{
        width:100%;
        height:100%;
    }
}
.flex_item_1_companyname{
    color: blueviolet;
    font-weight: bolder;
    font-size: 2rem;
}
.flex_item_1_location{
    color: black;
    font-size: 2rem;
    font-weight: bolder;
}
.flex_item_1_title{
    font-size: 1.5rem;
}
.get_in_touch{
    /* display: flex;
    justify-content: space-around; */
    color: white;
    margin-left:20%;
    /* margin-right: 40%; */
    border: 4px black solid;
    border-radius: 20px;
    padding:15px;
    background-color:blueviolet;
    text-decoration: none;
    font-weight: bolder;

}
.get_in_touch:hover{
    transition-duration: .5s;
    padding:20px;
    box-shadow: 5px 5px 5px 5px black;
}
.flex_item_1_points{
    font-size: 1.5rem;
}
@media (max-width:710px){
    .flex_item_1_companyname{
        font-size: 6vw;
    }
    .flex_item_1_location{
        font-size: 6vw;
    }
    .flex_item_1_title{
        font-size: 4vw;
    }
    .flex_item_1_points{
        font-size: 4vw;
    }
}
.image2{
    border-radius: 5px;
    border-top-right-radius:30px ;
    border-bottom-right-radius: 30px;
}
.image2:hover{
    box-shadow: 3px 3px 3px 3px black;
}
.flex_container_2{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 40px;
    transition:.5s;
}
.flex_item_2_2{
    width: 50%;
}
.flex_item_2_2_title{
    font-size:xx-large;
    color: blueviolet;
    font-weight: bolder;
}
.flex_item_2_2_points{
    font-size: x-large;
}
@media(max-width:1319px){
    .flex_container_2{
        justify-content: center;
    }
    .flex_item_2_2{
        width: 90%;
    }
    .image2{
        border-radius:30px;
    }
    .flex_item_2_2_points{
        font-size:3vw;
    }
    .flex_item_2_2_title{
        font-size: 5vw;
    }
}
.container_3{
    padding: 40px;
}
.container_3_title{
    text-align: center;
    font-weight: bolder;
    font-size:40px;
    color: grey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.container_3_points{
    text-align: center;
    font-size: 25px;
}
.see_more_1{
    text-align: center;
    font-size: 25px;
}
.see_more_button_1{
    font-weight: bolder;
    font-size: 40px;
    border: 3px black solid;
    border-radius: 4px;
    display: none;
}
@media (max-width:760px){
    .container_3_points{
        font-size:5vw;
    }
    .container_3_title{
        font-size:6vw;
    }
    .see_more_1{
        font-size: 5vw;
    }
}
@media (max-width:420px){
    .see_more_button_1{
        display: flex;
        justify-content: center;
        font-size: 4vw;
    }
    .see_more_1{
        display: none;
    }
}
.flex_container_4_heading_1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    font-size: 40px;
}
.flex_container_4_heading_2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#36454F;
    font-size: 40px;
    font-weight: bolder;
}
.flex_container_4{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex_item_4{
    /* border: black 4px solid; */
    padding: 20px;
    width: 450px;
    background-color: white;
    margin-bottom: 20px;
    transition-duration: 1s;
} 
.flex_item_4:hover{
    box-shadow: 3px 3px 3px 3px gray;
    margin-bottom: 40px;
}
.flex_item_4_image{
    width:50%;
    /* height: 50%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flex_item_4_servicename{
    font-size: 30px;
    text-align: center;
}
.flex_item_4_point{
    font-size: 20px;
    text-align: center;
}
@media (max-width:1143px) {
    .flex_container_4{
        justify-content: center;
    }
    .flex_item_4{
        width: 100%;
    }
    .flex_container_4_heading_1{
        font-size: 8vw;
    }
    .flex_conatiner_4_heading_2{
        font-size: 8vw;
    }
}